* {
  font-family: "Courier New", Courier, monospace;
}

:root {
  --primary-color: ;
  --secondary-color: ;
}

/* Start Hover line for footer and nav */
a {
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  /* color: ; */
  font-size: 16px;
}

a::after {
  content: "";
  position: absolute;
  height: 1.5px;
  left: 0;
  bottom: -2px;
  width: 0;
  /* background-color: ; */
  transition: width 0.5s;
}

a:hover::after {
  width: 100%;
}
a::before {
  content: "";
  position: absolute;
  height: 1.5px;
  right: 0;
  bottom: -2px;
  width: 0;
  /* background-color: ; */
  transition: width 0.5s ease;
}

a:hover::before {
  width: 100%;
}
/* End Hover line for footer and nav */
