@font-face {
  font-family: 'Diwani Letter';
  src: url('DiwaniLetter.woff2') format('woff2'),
      url('DiwaniLetter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


 body{
    margin: 0;
 }
 :root {
  --primary-color: #211C84;
  --secondary-color: #4D55CC;
  --third-color: #7A73D1;
  --textNav-color: #FFB200;
  --BG-color: #eeeeee;
}
 @font-face {
    font-family: 'olikni,';
    src: url('oiilkn.woff2') format('woff2'),
        url('oiilkn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
nav{
  background-color: #333;

}

.nav-style {
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
  flex-direction: row-reverse;
	background-color: transparent;

	width: 100%;
  color: #FFB200;
	height: 60px;
	top: 0;
	padding: 10px 0;
  }
  
  @font-face {
    font-family: 'BOONE Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BOONE Regular'), url('BOONE.woff') format('woff');
    }
  
  .nav-links a {
    font-family: "Amiri", serif;
    font-weight: 500;
	color: #FFB200;
	text-decoration: none;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 25px;
	position: relative;
	top: 15px;
  }
  .login-nav{
    font-family: "Amiri", serif;
    font-weight: 500;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 20px;
	position: relative;
	top: 15px;
  }
  .login-btn{
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    bottom: 10px;
    text-decoration: none;
    background-color: #FFB200;
    border: #211C84 1px solid;
    color: #211C84;
  }
  .brand-name a {
	font-size: 36px;
	position: relative;
  bottom: 20px;
  color: #FFB200;
  font-family: "Amiri", serif;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .nav-icons i {
	font-size: 24px;
	color: rgb(255, 255, 255);
	transition: color 0.3s ease;
	padding: 10px 10px;
  }
  
  
  .nav-style.scrolled {
	background-color: #004185; 
	color: rgb(255, 255, 255);
  }
  
  .nav-style.scrolled a,
  .nav-style.scrolled i {
	color: rgb(255, 255, 255); 
  }
  
  .nav-links a:hover,
  .brand-name a:hover,
  .nav-icons i:hover {
	color: rgb(255, 255, 255); 
  }
  .brand-name img{
    width: 180px;
    position: relative;
    bottom: 40px;
  }
	
  .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('Screenshot\ 2025-03-17\ 130908.png');
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row-reverse;
  }
  .hero img{
    position: relative;
    top: 70px;
    width:600px;
    right: 340px;
    height: auto;
  }
  .login-btn:hover{
    background-color: #ffffff;
    transform: scale(1.05);
    color: #FFB200;
  }
  .hero-div button{
    background-color: #FFB200;
    color: #211C84;
    font-size: 26px;
    font-family: "Amiri", serif;
    border-radius: 10px;
    border:  1px solid #FFB200;
    padding: 5px 15px;
    position: relative;
    left: 200px;
  }
  .hero-div button:hover{
    background-color: #FFC080;
    cursor: pointer;
    transform: scale(1.04);
    color: white;
  }
  .hero-title{
    color: white;
    font-size: 80px;
    text-align: center;

    position: relative;
  }
  .hero-paragraph{
    color: #FFB200;
    text-align: center;
    font-size: 25px;
    
  }
  .hero-div{
    position: relative;
    top: 120px;
    
    right: 190px;
  }
  @media screen and (max-width: 1200px){
    .nav-style{
      font-size: 20px;
    }
    .hero img{
      position: relative;
      top: 110px;
      width: 500px;
      left: px;
      right: 120px;
    }
    .hero-title{
      color: white;
      font-size: 60px;
      position: relative;
      left: 90px;
    }
    .hero-paragraph{
      color: #FFB200;
      text-align: center;
      font-size: 20px;
      position: relative;
      left: 80px;
      
    }
    .hero-div button{
      background-color: #FFB200;
      color: #211C84;
      font-size: 26px;
      font-family: "Amiri", serif;
      border-radius: 10px;
      border:  1px solid #FFB200;
      padding: 5px 15px;
      position: relative;
      left: 300px;
    }
  }

@media screen and (max-width: 850px){
  
  .hero img{
    position: relative;
    left: 0px;
    top: 200px;
    width: 100%;
    .nav-links a {
      font-family: "Amiri", serif;
      font-weight: 500;
    color: #FFB200;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 10px;
    font-size: 25px;
    position: relative;
    top: 15px;
    }
    .login-nav{
      font-family: "Amiri", serif;
      font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 10px;
    font-size: 10px;
    position: relative;
    top: 15px;
    }
    .login-btn{
      border-radius: 10px;
      padding: 10px 10px;
      position: relative;
      bottom: 10px;
      text-decoration: none;
      background-color: #FFB200;
      border: #211C84 1px solid;
      color: #211C84;
    }
    .brand-name a {
    font-size: 16px;
    position: relative;
    bottom: 20px;
    color: #FFB200;
    font-family: "Amiri", serif;
    text-decoration: none;
    transition: color 0.3s ease;
    }
  }
  .hero-title{
    color: white;
    text-align: center;
    position: relative;
    left:180px;
  }
  .hero-paragraph{
    color: #FFB200;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 180px;
    
  }
 
   .hero-div button{
    background-color: #FFB200;
    color: #211C84;
    font-size: 16px;
    font-family: "Amiri", serif;
    border-radius: 10px;
    border:  1px solid #FFB200;
    padding: 5px 15px;
    position: relative;
    left: 500px;
    top:30px
  }

  .hero{
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 390px){
  .nav-links a {
    font-family: "Amiri", serif;
    font-weight: 500;
	color: #FFB200;
  display: none;
	text-decoration: none;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 25px;
	position: relative;
	top: 15px;
  }
  .login-nav{
    font-family: "Amiri", serif;
    font-weight: 500;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 20px;
	position: relative;
	top: 15px;
  }
  .login-btn{
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    bottom: 10px;
    display: none;
    text-decoration: none;
    background-color: #FFB200;
    border: #211C84 1px solid;
    color: #211C84;
  }
  .brand-name a {
	font-size: 36px;
	position: relative;
  bottom: 20px;

  color: #FFB200;
  font-family: "Amiri", serif;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  .hero img{
    position: relative;
    top: 170px;
    width: 200px;
    right: 0px;
  }
  .hero-title{
    color: white;
    font-size: 30px;
    position: relative;
    left: 170px;
    top: 30px;
  }
  .hero-paragraph{
    color: #FFB200;
    text-align: center;
    width: 210px;
    font-size: 17px;
    position: relative;
    left: 160px;
    top: 40px;
    
  }
  .hero-div button{
    background-color: #FFB200;
    color: #211C84;
    font-size: 16px;
    font-family: "Amiri", serif;
    border-radius: 10px;
    border:  1px solid #FFB200;
    padding: 5px 15px;
    position: relative;
    left: 0px;
    top:70px
  }
}
@media screen and (max-width: 390px){
 
  .hero img{
    position: relative;
    top: 170px;
    width: 100%;
    right: 0px;
  }
  .hero-title{
    color: white;
    font-size: 30px;
    position: relative;
    left: 190px;
    top: 0px;
  }
  .hero-paragraph{
    color: #FFB200;
    text-align: center;
    width: 210px;
    font-size: 17px;
    position: relative;
    left: 270px;
    top: 0px;
    
  }
  .hero-div button{
    left:340px;
    bottom:110px ;
    top: 0;


  }
}
@media screen and (max-width: 620px){
  .nav-links a {
    font-family: "Amiri", serif;
    font-weight: 500;
	color: #FFB200;
  display: none;
	text-decoration: none;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 25px;
	position: relative;
	top: 15px;
  }
  .login-nav{
    font-family: "Amiri", serif;
    font-weight: 500;
	transition: color 0.3s ease;
	padding: 10px 10px;
  font-size: 20px;
	position: relative;
	top: 15px;
  }
  .login-btn{
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    bottom: 10px;
    display: none;
    text-decoration: none;
    background-color: #FFB200;
    border: #211C84 1px solid;
    color: #211C84;
  }
  .hero-div button{
    left:380px;
    bottom:110px ;
    top: 0;


  }
}