
body {
    font-family: 'Tajawal', sans-serif;
    background-color: #111827;
    color: white;
}
.btn-warning {
    background-color: #fbbf24;
    border-color: #fbbf24;
    color: #111827;
}
.btn-warning:hover {
    background-color: #eab308;
    border-color: #eab308;
}
.btn-dark {
    background-color: #1f2937;
    border-color: #1f2937;
    color: white;
}
.btn-dark:hover {
    background-color: #374151;
    border-color: #374151;
}
